sanitized_JustinBot3000.json
{
  "name": "Wrath Of Justinbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "REDACTED_ID",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -496,
        544
      ],
      "id": "REDACTED_ID",
      "name": "Webhook",
      "webhookId": "REDACTED_WEBHOOK_ID"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {"value": "REDACTED_GUILD_ID",
          "mode": "list",
          "cachedResultName": "REDACTED_NAME",
          "cachedResultUrl": "REDACTED_URL"
        },
        "channelId": {"value": "REDACTED_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "REDACTED_NAME",
          "cachedResultUrl": "REDACTED_URL"
        },
        "content": "={{ $json.answer_text }}\n\nHelpful links:\n{{ $json.response }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2832,
        608
      ],
      "id": "REDACTED_ID",
      "name": "Discord",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "notesInFlow": false,
      "executeOnce": false,
      "credentials": {
        "discordOAuth2Api": {
          "id": "REDACTED_ID",
          "name": "Discord account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Given this message : {{ $json.body.content }}\n\nFormat it in such a way that the main question is gramatically correct and concise. ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        208,
        752
      ],
      "id": "REDACTED_ID",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "REDACTED_NAME"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        192,
        912
      ],
      "id": "REDACTED_ID",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "REDACTED_OPENAI_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        768,
        1328
      ],
      "id": "REDACTED_ID",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "REDACTED_OPENAI_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You have just been asked : {{ $json.output }}. Please use ONLY data available from the vector pinecone database, no other information. If you cannot base your answer off of the info there, say \"I don't know\".\n\nIf asked whether the final was cancelled, simply say \"Please consider this:\" and link to this: https://catalog.northeastern.edu/graduate/academic-policies-procedures/drop-class/",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.5,
      "position": [
        672,
        768
      ],
      "id": "REDACTED_ID",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "REDACTED_NAME"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        992
      ],
      "id": "REDACTED_ID",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "REDACTED_OPENAI_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        768,
        992
      ],
      "id": "REDACTED_ID",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "pineconeIndex": {"value": "REDACTED_ID",
          "mode": "list",
          "cachedResultName": "REDACTED_NAME"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        768,
        1184
      ],
      "id": "REDACTED_ID",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "REDACTED_ID",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1232,
        1280
      ],
      "id": "REDACTED_ID",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "REDACTED_OPENAI_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Given this : {{ $json.output }}\n\nPlease list any urls in your context that you think would relate to this prompt. Just list the urls, no other text. If none are relavent at all, simply say N/A.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.5,
      "position": [
        1120,
        768
      ],
      "id": "REDACTED_ID",
      "name": "Question and Answer Chain1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1088,
        992
      ],
      "id": "REDACTED_ID",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "REDACTED_OPENAI_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        1232,
        1008
      ],
      "id": "REDACTED_ID",
      "name": "Vector Store Retriever1"
    },
    {
      "parameters": {
        "pineconeIndex": {"value": "REDACTED_ID",
          "mode": "list",
          "cachedResultName": "REDACTED_NAME"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        1232,
        1152
      ],
      "id": "REDACTED_ID",
      "name": "Pinecone Vector Store2",
      "credentials": {
        "pineconeApi": {
          "id": "REDACTED_ID",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        2608,
        608
      ],
      "id": "REDACTED_ID",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "REDACTED_ID",
              "name": "answer_text",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2352,
        288
      ],
      "id": "REDACTED_ID",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "documentId": {"value": "REDACTED_ID",
          "mode": "list",
          "cachedResultName": "REDACTED_NAME",
          "cachedResultUrl": "REDACTED_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "REDACTED_NAME",
          "cachedResultUrl": "REDACTED_URL"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "User",
              "lookupValue": "={{ $json.User }}"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        64,
        384
      ],
      "id": "REDACTED_ID",
      "name": "Google Sheets",
      "credentials": {
        "REDACTED_ID": {
          "id": "REDACTED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {"value": "REDACTED_ID",
          "mode": "list",
          "cachedResultName": "REDACTED_NAME",
          "cachedResultUrl": "REDACTED_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "REDACTED_NAME",
          "cachedResultUrl": "REDACTED_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "User": "={{ $json.body.username }}",
            "Anger Level": "= {{ $('Google Sheets').item.json['Anger Level'] + $json.stupidity_score }}"
          },
          "matchingColumns": [
            "User"
          ],
          "schema": [
            {
              "id": "User",
              "displayName": "User",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Anger Level",
              "displayName": "Anger Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "REDACTED_ID": false,
          "REDACTED_ID": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        384,
        0
      ],
      "id": "REDACTED_ID",
      "name": "Google Sheets1",
      "credentials": {
        "REDACTED_ID": {
          "id": "REDACTED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Given this message : {{ $json.body.content }}\n\nGive a stupdiness score from 0 to 5, following this criteria. If the question is \"stupid\" but an actual cybersecurity question, then give it a 0. Otherwise, gauge its stupidity. Return just the number, thats it. \n\nMeanspirited responses should return a 5 automatically\n\nIf a message appears to be a sincere apology, make the stupidness score -5 (reducing as a result)",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -384,
        -16
      ],
      "id": "REDACTED_ID",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "REDACTED_NAME"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -384,
        144
      ],
      "id": "REDACTED_ID",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "REDACTED_OPENAI_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "REDACTED_ID",
              "name": "stupidity_score",
              "value": "={{ $json.output }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        -16
      ],
      "id": "REDACTED_ID",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        240,
        240
      ],
      "id": "REDACTED_ID",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1280,
        272
      ],
      "id": "REDACTED_ID",
      "name": "Merge2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Given this message : {{ $json.response }}\nAnd this anger level : {{ $json['Anger Level'] }}\n\nReformat the message to be more angry the higher the anger level. Below 5, keep the message the exact same (not angry), and at 20, be EXTREMLY mad and meanspirited. Do not send anything other than the reformatted message.\n\nAt 20+ just skip the reformat and say something insulting their intelligence.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1840,
        400
      ],
      "id": "REDACTED_ID",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "REDACTED_NAME"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1840,
        560
      ],
      "id": "REDACTED_ID",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "REDACTED_OPENAI_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {"value": "REDACTED_ID",
          "mode": "list",
          "cachedResultName": "REDACTED_NAME",
          "cachedResultUrl": "REDACTED_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "REDACTED_NAME",
          "cachedResultUrl": "REDACTED_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "User": "={{ $json.body.username }}"
          },
          "matchingColumns": [
            "User"
          ],
          "schema": [
            {
              "id": "User",
              "displayName": "User",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Anger Level",
              "displayName": "Anger Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "REDACTED_ID": false,
          "REDACTED_ID": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -80,
        384
      ],
      "id": "REDACTED_ID",
      "name": "Google Sheets2",
      "credentials": {
        "REDACTED_ID": {
          "id": "REDACTED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "REDACTED_ID",
              "leftValue": "={{ $json.stupidity_score }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        864,
        224
      ],
      "id": "REDACTED_ID",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"output\" : \"The path to forgiveness is not fully traversed, and atonement is still some ways off.\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1552,
        -64
      ],
      "id": "REDACTED_ID",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "REDACTED_ID",
              "leftValue": "={{ $json['Anger Level'] }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1168,
        -144
      ],
      "id": "REDACTED_ID",
      "name": "If1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"output\" : \"You have been forgiven, and are once again in the good graces of justinbot.\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1552,
        -208
      ],
      "id": "REDACTED_ID",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        688,
        224
      ],
      "id": "REDACTED_ID",
      "name": "Merge3"
    },
    {
      "parameters": {
        "content": "Anger Reformatter"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1760,
        64
      ],
      "id": "REDACTED_ID",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Anger/Stupidity/Apology\nScore Decider"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -304,
        -208
      ],
      "id": "REDACTED_ID",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Helpful Links Generator"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1120,
        592
      ],
      "id": "REDACTED_ID",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Prompt Polisher"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        560
      ],
      "id": "REDACTED_ID",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Prompt Answerer"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        672,
        592
      ],
      "id": "REDACTED_ID",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "REDACTED_ID",
              "leftValue": "={{ $json['Anger Level'] }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1472,
        272
      ],
      "id": "REDACTED_ID",
      "name": "If2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "REDACTED_ID",
              "name": "output",
              "value": "={{ $json.response }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1904,
        240
      ],
      "id": "REDACTED_ID",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "['Anger Level'], User",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        240
      ],
      "id": "REDACTED_ID",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "REDACTED_ID",
              "name": "Anger Level",
              "value": "={{ $json['Anger Level'] }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "['Anger Level']",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        0
      ],
      "id": "REDACTED_ID",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {"value": "REDACTED_ID",
          "mode": "list",
          "cachedResultName": "REDACTED_NAME",
          "cachedResultUrl": "REDACTED_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "REDACTED_NAME",
          "cachedResultUrl": "REDACTED_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "=",
            "user_message": "={{ $json.body.content}}",
            "ai_response": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_response",
              "displayName": "ai_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "REDACTED_ID": false,
          "REDACTED_ID": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        384,
        1184
      ],
      "id": "REDACTED_ID",
      "name": "Google Sheets4",
      "credentials": {
        "REDACTED_ID": {
          "id": "REDACTED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {"value": "REDACTED_ID",
          "mode": "list",
          "cachedResultName": "REDACTED_NAME",
          "cachedResultUrl": "REDACTED_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "REDACTED_NAME",
          "cachedResultUrl": "REDACTED_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_message": "={{ $json.body.content }}",
            "ai_response": "={{ $json.response }}",
            "user_id": "={{ $json.body.username }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_response",
              "displayName": "ai_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "REDACTED_ID": false,
          "REDACTED_ID": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        128,
        1168
      ],
      "id": "REDACTED_ID",
      "name": "Google Sheets5",
      "credentials": {
        "REDACTED_ID": {
          "id": "REDACTED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {"value": "REDACTED_ID",
          "mode": "list",
          "cachedResultName": "REDACTED_NAME",
          "cachedResultUrl": "REDACTED_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "REDACTED_NAME",
          "cachedResultUrl": "REDACTED_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('Webhook').item.json.body.username }}",
            "user_message": "={{ $('Webhook').item.json.body.content }}",
            "ai_response": "={{ $json.content }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_response",
              "displayName": "ai_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "REDACTED_ID": false,
          "REDACTED_ID": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3008,
        608
      ],
      "id": "REDACTED_ID",
      "name": "Google Sheets6",
      "credentials": {
        "REDACTED_ID": {
          "id": "REDACTED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1904,
        352
      ],
      "id": "REDACTED_ID",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {"value": "REDACTED_FOLDER_ID",
            "mode": "list",
            "cachedResultName": "REDACTED_NAME",
            "cachedResultUrl": "REDACTED_URL"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3136,
        -480
      ],
      "id": "REDACTED_ID",
      "name": "Google Drive",
      "credentials": {
        "REDACTED_ID": {
          "id": "REDACTED_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {"value": "REDACTED_FILE_ID",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2976,
        -480
      ],
      "id": "REDACTED_ID",
      "name": "Google Drive1",
      "credentials": {
        "REDACTED_ID": {
          "id": "REDACTED_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {"value": "REDACTED_ID",
          "mode": "list",
          "cachedResultName": "REDACTED_NAME"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        -2736,
        -688
      ],
      "id": "REDACTED_ID",
      "name": "Pinecone Vector Store3",
      "credentials": {
        "pineconeApi": {
          "id": "REDACTED_ID",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2768,
        -464
      ],
      "id": "REDACTED_ID",
      "name": "Embeddings OpenAI3",
      "credentials": {
        "openAiApi": {
          "id": "REDACTED_OPENAI_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -2640,
        -464
      ],
      "id": "REDACTED_ID",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkSize": 300,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -2624,
        -336
      ],
      "id": "REDACTED_ID",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {"value": "REDACTED_ID",
          "mode": "list",
          "cachedResultName": "REDACTED_NAME"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        -2528,
        -144
      ],
      "id": "REDACTED_ID",
      "name": "Pinecone Vector Store4",
      "credentials": {
        "pineconeApi": {
          "id": "REDACTED_ID",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2576,
        80
      ],
      "id": "REDACTED_ID",
      "name": "Embeddings OpenAI4",
      "credentials": {
        "openAiApi": {
          "id": "REDACTED_OPENAI_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -2368,
        64
      ],
      "id": "REDACTED_ID",
      "name": "Default Data Loader2"
    },
    {
      "parameters": {
        "chunkSize": 300,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -2336,
        192
      ],
      "id": "REDACTED_ID",
      "name": "Recursive Character Text Splitter2"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {"value": "REDACTED_FILE_ID",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3008,
        -144
      ],
      "id": "REDACTED_ID",
      "name": "Google Drive4",
      "credentials": {
        "REDACTED_ID": {
          "id": "REDACTED_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2768,
        -144
      ],
      "id": "REDACTED_ID",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {"value": "REDACTED_FOLDER_ID",
            "mode": "list",
            "cachedResultName": "REDACTED_NAME",
            "cachedResultUrl": "REDACTED_URL"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3168,
        -144
      ],
      "id": "REDACTED_ID",
      "name": "Search files and folders",
      "credentials": {
        "REDACTED_ID": {
          "id": "REDACTED_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {"value": "REDACTED_ID",
          "mode": "list",
          "cachedResultName": "REDACTED_NAME"
        },
        "options": {
          "clearNamespace": true,
          "pineconeNamespace": "answers"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        -1008,
        864
      ],
      "id": "REDACTED_ID",
      "name": "Pinecone Vector Store5",
      "credentials": {
        "pineconeApi": {
          "id": "REDACTED_ID",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1056,
        1088
      ],
      "id": "REDACTED_ID",
      "name": "Embeddings OpenAI5",
      "credentials": {
        "openAiApi": {
          "id": "REDACTED_OPENAI_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -848,
        1072
      ],
      "id": "REDACTED_ID",
      "name": "Default Data Loader3"
    },
    {
      "parameters": {
        "chunkSize": 300,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -816,
        1184
      ],
      "id": "REDACTED_ID",
      "name": "Recursive Character Text Splitter3"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {"value": "REDACTED_FILE_ID",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1504,
        512
      ],
      "id": "REDACTED_ID",
      "name": "Google Drive5",
      "credentials": {
        "REDACTED_ID": {
          "id": "REDACTED_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1264,
        864
      ],
      "id": "REDACTED_ID",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {"value": "REDACTED_FOLDER_ID",
            "mode": "list",
            "cachedResultName": "REDACTED_NAME",
            "cachedResultUrl": "REDACTED_URL"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1664,
        512
      ],
      "id": "REDACTED_ID",
      "name": "Search files and folders1",
      "credentials": {
        "REDACTED_ID": {
          "id": "REDACTED_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {"value": "REDACTED_ID",
          "mode": "list",
          "cachedResultName": "REDACTED_NAME"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        -2448,
        432
      ],
      "id": "REDACTED_ID",
      "name": "Pinecone Vector Store6",
      "credentials": {
        "pineconeApi": {
          "id": "REDACTED_ID",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2496,
        640
      ],
      "id": "REDACTED_ID",
      "name": "Embeddings OpenAI6",
      "credentials": {
        "openAiApi": {
          "id": "REDACTED_OPENAI_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -2288,
        624
      ],
      "id": "REDACTED_ID",
      "name": "Default Data Loader4"
    },
    {
      "parameters": {
        "chunkSize": 300,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -2256,
        752
      ],
      "id": "REDACTED_ID",
      "name": "Recursive Character Text Splitter4"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {"value": "REDACTED_FILE_ID",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2928,
        432
      ],
      "id": "REDACTED_ID",
      "name": "Google Drive6",
      "credentials": {
        "REDACTED_ID": {
          "id": "REDACTED_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2688,
        432
      ],
      "id": "REDACTED_ID",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {"value": "REDACTED_FOLDER_ID",
            "mode": "list",
            "cachedResultName": "REDACTED_NAME",
            "cachedResultUrl": "REDACTED_URL"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3088,
        432
      ],
      "id": "REDACTED_ID",
      "name": "Search files and folders2",
      "credentials": {
        "REDACTED_ID": {
          "id": "REDACTED_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {"value": "REDACTED_ID",
          "mode": "list",
          "cachedResultName": "REDACTED_NAME"
        },
        "options": {
          "clearNamespace": true,
          "pineconeNamespace": "info"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        -976,
        -48
      ],
      "id": "REDACTED_ID",
      "name": "Pinecone Vector Store7",
      "credentials": {
        "pineconeApi": {
          "id": "REDACTED_ID",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1056,
        192
      ],
      "id": "REDACTED_ID",
      "name": "Embeddings OpenAI7",
      "credentials": {
        "openAiApi": {
          "id": "REDACTED_OPENAI_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -848,
        160
      ],
      "id": "REDACTED_ID",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 300,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -816,
        288
      ],
      "id": "REDACTED_ID",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {"value": "REDACTED_FILE_ID",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1488,
        -48
      ],
      "id": "REDACTED_ID",
      "name": "Google Drive7",
      "credentials": {
        "REDACTED_ID": {
          "id": "REDACTED_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1248,
        -48
      ],
      "id": "REDACTED_ID",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {"value": "REDACTED_FOLDER_ID",
            "mode": "list",
            "cachedResultName": "REDACTED_NAME",
            "cachedResultUrl": "REDACTED_URL"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1648,
        -48
      ],
      "id": "REDACTED_ID",
      "name": "Search files and folders3",
      "credentials": {
        "REDACTED_ID": {
          "id": "REDACTED_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "REDACTED_ID",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -336,
        1712
      ],
      "id": "REDACTED_ID",
      "name": "Webhook1",
      "webhookId": "REDACTED_WEBHOOK_ID"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Given this message : {{ $json.body.content }}\n\nPretend you are general cybersecurity knowledge bot. \n\nAnswer the students question in a way that benefits them and answers them. Importantly, keep the answer short and concise, as the student will not want to read a wall of text. Format it as a natural response to the student's question and never use ```, only use `. Also try to keep it simple, and not provide too much advanced detail/additional information, as this is for an intro level class, unless the question specifically requested it (this also means make the response such that an intro level student wiull have a good time understanding it).\n\nYou can assume the student is working in linux.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        848,
        1712
      ],
      "id": "REDACTED_ID",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "REDACTED_NAME"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        832,
        1872
      ],
      "id": "REDACTED_ID",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "REDACTED_OPENAI_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1184,
        1584
      ],
      "id": "REDACTED_ID",
      "name": "Merge4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=REDACTED_DISCORD_URL $json.body.message_reference.channel_id }}/messages\n",
        "authentication": "REDACTED_ID",
        "nodeCredentialType": "discordBotApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ JSON.stringify($json.output) }},\n  \"message_reference\": {\n    \"message_id\": \"{{ $json.body.message_reference.message_id }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1472,
        1728
      ],
      "id": "REDACTED_ID",
      "name": "HTTP Request2",
      "credentials": {
        "discordOAuth2Api": {
          "id": "REDACTED_ID",
          "name": "Discord account"
        },
        "discordBotApi": {
          "id": "gegB1obBD49J1NzC",
          "name": "Discord Bot account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Given this message : {{ $json.body.content }}\n\nIf the question mentions specific names such as exact file names, exact names, exact directory names, or a class project or level, say \"what\". Otherwise, say \"ok\". Only return the keyword, nothing else.\n\nIf the question is completely unrelated to cybersecurity, also return \"what\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        144,
        1824
      ],
      "id": "REDACTED_ID",
      "name": "AI Agent4"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "REDACTED_NAME"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        2000
      ],
      "id": "REDACTED_ID",
      "name": "OpenAI Chat Model6",
      "credentials": {
        "openAiApi": {
          "id": "REDACTED_OPENAI_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "ok",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "REDACTED_ID"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ok"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        480,
        1808
      ],
      "id": "REDACTED_ID",
      "name": "Switch"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        672,
        1680
      ],
      "id": "REDACTED_ID",
      "name": "Merge5"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        688,
        1984
      ],
      "id": "REDACTED_ID",
      "name": "Merge6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Given this message : {{ $json.body.content }}\n\nPretend you are general cybersecurity knowledge bot. \n\nIf the question is completely unrelated to cybersecurity, return a message saying that you don't believe the message to be relevant. \n\nOtherwise, return a message saying the question might be closely related to a project, and that they should try `!hint [project] [question]` (use this exact syntax unchanged, including the ``)",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        848,
        1984
      ],
      "id": "REDACTED_ID",
      "name": "AI Agent5"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "REDACTED_NAME"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        848,
        2144
      ],
      "id": "REDACTED_ID",
      "name": "OpenAI Chat Model7",
      "credentials": {
        "openAiApi": {
          "id": "REDACTED_OPENAI_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1232,
        1840
      ],
      "id": "REDACTED_ID",
      "name": "Merge7"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=REDACTED_DISCORD_URL $json.channel_id }}/messages/{{ $json.id }}/reactions/🔁/@me\n",
        "authentication": "REDACTED_ID",
        "nodeCredentialType": "discordBotApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1712,
        1728
      ],
      "id": "REDACTED_ID",
      "name": "HTTP Request",
      "credentials": {
        "discordOAuth2Api": {
          "id": "REDACTED_ID",
          "name": "Discord account"
        },
        "discordBotApi": {
          "id": "gegB1obBD49J1NzC",
          "name": "Discord Bot account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {"value": "REDACTED_ID",
          "mode": "list",
          "cachedResultName": "REDACTED_NAME",
          "cachedResultUrl": "REDACTED_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": 1003044234,
          "mode": "list",
          "cachedResultName": "REDACTED_NAME",
          "cachedResultUrl": "REDACTED_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $json.mentions[0].id }}",
            "user_name": "={{ $json.mentions[0].username }}",
            "ai_response": "={{ $json.content }}",
            "user_message": "={{ $json.referenced_message.content }}",
            "timestamp": "={{ $json.referenced_message.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_name",
              "displayName": "user_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_response",
              "displayName": "ai_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "REDACTED_ID": false,
          "REDACTED_ID": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1712,
        1568
      ],
      "id": "REDACTED_ID",
      "name": "Append row in sheet",
      "credentials": {
        "REDACTED_ID": {
          "id": "REDACTED_ID",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Question and Answer Chain1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever1": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain1",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store2": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets4": {
      "main": [
        []
      ]
    },
    "Discord": {
      "main": [
        [
          {
            "node": "Google Sheets6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store3",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI4": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store4",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store4",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter2": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader2",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Google Drive4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store5": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI5": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store5",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader3": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store5",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter3": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader3",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive5": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Google Drive5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store6": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI6": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store6",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader4": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store6",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter4": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader4",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive6": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders2": {
      "main": [
        [
          {
            "node": "Google Drive6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store7": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI7": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store7",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store7",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive7": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders3": {
      "main": [
        [
          {
            "node": "Google Drive7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "AI Agent5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent5": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "REDACTED_ID",
  "meta": {
    "REDACTED_ID": true,
    "instanceId": "REDACTED_ID"
  },
  "id": "Lbx6CPfYJAWxSTFJ",
  "tags": []
}